
  <div class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <strong>
        <h4>
          <%= project.name %>
        </h4>
      </strong>
    </div>
    <div class="card-body">
      <strong class="card-text">
        <%= project.body %>
      </strong>
    </div>
      <%= link_to "Show this project", project, class:'btn btn-primary' %>
  </div>
