  <div class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <strong>
        <h4>
         <%= inbox.name %>
        </h4>
      </strong>
    </div>
      <%= link_to "Show this topic",[@project, inbox], class:'btn btn-primary' %>
  </div>